
.iconcls {
   background-repeat: no-repeat;
   background-position: center center;
}

div.iconcls {
   width:16px;
   height:16px;
}

.iconcls-page_white { background-image:url(../fileicons/page_white.png); }
.iconcls-folder_delete { background-image:url(../fileicons/folder_delete.png); }
.iconcls-page_white_get { background-image:url(../fileicons/page_white_get.png); }
.iconcls-textfield_rename { background-image:url(../fileicons/textfield_rename.png); }
.iconcls-folder_add { background-image:url(../fileicons/folder_add.png); }
.iconcls-page_white_copy { background-image:url(../fileicons/page_white_copy.png); }
.iconcls-page_white_go { background-image:url(../fileicons/page_white_go.png); }
.iconcls-information { background-image:url(../fileicons/information.png); }
.iconcls-key_go { background-image:url(../fileicons/key_go.png); }
.iconcls-photo { background-image:url(../fileicons/photo.png); }
.iconcls-key { background-image:url(../fileicons/key.png); }
.iconcls-cog { background-image:url(../fileicons/cog.png); }
.iconcls-wrench_orange { background-image:url(../fileicons/wrench_orange.png); }
.iconcls-group { background-image:url(../fileicons/group.png); }
.iconcls-group_delete { background-image:url(../fileicons/group_delete.png); }
.iconcls-drive_delete { background-image:url(../fileicons/drive_delete.png); }
.iconcls-user_green { background-image:url(../fileicons/user_green.png); }
.iconcls-user_delete { background-image:url(../fileicons/user_delete.png); }
.iconcls-bin { background-image:url(../fileicons/bin.png); }
.iconcls-textfield_rename { background-image:url(../fileicons/textfield_rename.png); }
.iconcls-link { background-image:url(../fileicons/link.png); }
.iconcls-folder_explore { background-image:url(../fileicons/folder_explore.png); }
.iconcls-arrow_refresh { background-image:url(../fileicons/arrow_refresh.png); }
.iconcls-arrow_out { background-image:url(../fileicons/arrow_out.png); }
.iconcls-arrow_in { background-image:url(../fileicons/arrow_in.png); }
.iconcls-application_go { background-image:url(../fileicons/application_go.png); }
.iconcls-photo { background-image:url(../fileicons/photo.png); }
.iconcls-application_link { background-image:url(../fileicons/application_link.png); }
.iconcls-flag_red { background-image:url(../fileicons/flag_red.png); }
.iconcls-flag_green { background-image:url(../fileicons/flag_green.png); }
.iconcls-flag_red { background-image:url(../fileicons/flag_red.png); }
.iconcls-new { background-image:url(../fileicons/new.png); }
.iconcls-user_go { background-image:url(../fileicons/user_go.png); }
.iconcls-android { background-image:url(../fileicons/android.png); }
.iconcls-page_white_acrobat { background-image:url(../fileicons/page_white_acrobat.png); }
.iconcls-page_white_cplusplus { background-image:url(../fileicons/page_white_cplusplus.png); }
.iconcls-page_white_c { background-image:url(../fileicons/page_white_c.png); }
.iconcls-page_white_h { background-image:url(../fileicons/page_white_h.png); }
.iconcls-page_white_csharp { background-image:url(../fileicons/page_white_csharp.png); }
.iconcls-page_white_cd { background-image:url(../fileicons/page_white_cd.png); }
.iconcls-page_white_compressed { background-image:url(../fileicons/page_white_compressed.png); }
.iconcls-page_white_code { background-image:url(../fileicons/page_white_code.png); }
.iconcls-page_white_cup { background-image:url(../fileicons/page_white_cup.png); }
.iconcls-page_white_database { background-image:url(../fileicons/page_white_database.png); }
.iconcls-page_white_excel { background-image:url(../fileicons/page_white_excel.png); }
.iconcls-page_white_flash { background-image:url(../fileicons/page_white_flash.png); }
.iconcls-page_white_gear { background-image:url(../fileicons/page_white_gear.png); }
.iconcls-page_white_key { background-image:url(../fileicons/page_white_key.png); }
.iconcls-page_white_php { background-image:url(../fileicons/page_white_php.png); }
.iconcls-page_white_picture { background-image:url(../fileicons/page_white_picture.png); }
.iconcls-music { background-image:url(../fileicons/music.png); }
.iconcls-page_white_powerpoint { background-image:url(../fileicons/page_white_powerpoint.png); }
.iconcls-page_white_tux { background-image:url(../fileicons/page_white_tux.png); }
.iconcls-page_white_vector { background-image:url(../fileicons/page_white_vector.png); }
.iconcls-page_white_word { background-image:url(../fileicons/page_white_word.png); }
.iconcls-page_white_world { background-image:url(../fileicons/page_white_world.png); }
