
.iconcls-arrow_left { background-image:url(img/arrow_left.png); }
.iconcls-arrow_right { background-image:url(img/arrow_right.png); }
.iconcls-arrow_in { background-image:url(img/arrow_in.png); }
.iconcls-arrow-left-right { background-image:url(img/arrow-left-right.png); }
.iconcls-arrow_out { background-image:url(img/arrow_out.png); }
.iconcls-arrow-up-down { background-image:url(img/arrow-up-down.png); }
.iconcls-magifier_zoom_out { background-image:url(img/magifier_zoom_out.png); }
.iconcls-magnifier_zoom_in { background-image:url(img/magnifier_zoom_in.png); }
