
.iconcls-arrow_left { background-image:url(img/arrow_left.png); }
.iconcls-arrow_right { background-image:url(img/arrow_right.png); }
.iconcls-arrow_in { background-image:url(img/arrow_in.png); }
.iconcls-arrow-left-right { background-image:url(img/arrow-left-right.png); }
.iconcls-arrow_out { background-image:url(img/arrow_out.png); }
.iconcls-arrow-up-down { background-image:url(img/arrow-up-down.png); }
.iconcls-magifier_zoom_out { background-image:url(img/magifier_zoom_out.png); }
.iconcls-magnifier_zoom_in { background-image:url(img/magnifier_zoom_in.png); }
.iconcls-images { background-image:url(img/images.png); }
.iconcls-picture_go { background-image:url(img/picture_go.png); }

.iconcls-control_end_blue { background-image:url(img/control_end_blue.png); }
.iconcls-control_fastforward_blue { background-image:url(img/control_fastforward_blue.png); }
.iconcls-control_play_blue { background-image:url(img/control_play_blue.png); }
.iconcls-control_rewind_blue { background-image:url(img/control_rewind_blue.png); }
.iconcls-control_start_blue { background-image:url(img/control_start_blue.png); }
